.view {
    /*-fx-background-color: linear-gradient(to bottom, rgb(10,32,60), rgb(42,52,120));*/
    -fx-background-color: -primary-swatch-100;
}

.window {
    /*-fx-background-color: rgba(120,140,255,0.2);*/
    -fx-border-color: rgba(120,140,255,0.42);
    -fx-border-width: 2;
}

.window-titlebar {
    -fx-background-color: rgba(20,20,45,0.4);
    -fx-border-color: rgba(120,140,255,0.42);
    -fx-border-width: 0;
    -fx-padding: 6 4 3 4;
    -fx-background-insets: 2 2 -2 2;
    -fx-font-size: 0.9em;
    -fx-alignment: center;
    -fx-fill: rgba(255,255,255,50);
}

.vnode-connector {
}

.vnode-connector > .connector {
    -fx-stroke: rgba(120, 140, 255, 0.42);
    -fx-stroke-width: 3px;
}

.vnode-connector > .text-connector > .label {
    -fx-text-fill: white;
    -fx-font-size: 0.8em;
}

.vnode-connector > .connector.data {
    -fx-fill: rgba(255, 87, 34,0.75);
    -fx-stroke: rgba(255, 87, 34, 0.42);
}

.vnode-connector > .connector.event {
    -fx-fill: rgba(255,100,255,0.75);
    -fx-stroke: rgba(255,100,255,0.42);
}

.vnode-connector > .connector.control {
    -fx-fill: rgba(10,10,10,0.75);
    -fx-stroke: rgba(10,10,10,0.42);
}

.vnode-connection {
    -fx-stroke: rgba(120,140,255,0.2);
    -fx-stroke-width: 5px;
}

.vnode-new-connection {
    -fx-stroke: rgba(120,140,255,0.2);
    -fx-stroke-width: 5px;
}

.dropdown-button > .container {
    /* TODO */
    -fx-background-color: rgba(255, 87, 34, 0.50);
}

.text-field {
    -fx-background-color: rgba(255, 87, 34, 0.50);
}

.tool-bar {
    -fx-spacing: 5;
}

.tool-bar > HBox > .button > .icon > .label {
    -fx-font-size: 1.1em;
}

.tool-bar > HBox > .separator > .line {
    -fx-border-width: 1;
    -fx-border-color: -primary-swatch-800;
    /*-fx-background-insets: 0;*/
    -fx-background-color: -primary-swatch-800;
}

